Clearly specify methods to demonstrate private key compromise

Regarding CP v2.6
https://bugzilla.mozilla.org/show_bug.cgi?id=1701317#c6

> Clearly specify methods to demonstrate private key compromise (MRSP § 6)
>
> Effective with version 2.7.1 of the Mozilla Root Store Policy, CAs are supposed to specify how parties can demonstrate key compromise to them in section 4.9.12 of their CPS.
> 
> Should be fixed. ISRG indicated in the April 2021 CA Survey “Section 4.9.12 of our CPS already specifies the methods that parties may use to demonstrate private key compromise.” Section 4.9.12 of the CPS references section 4.9.3, which states “Revocation requests may be made by anyone, at any time, via the Certificate Revocation interface of the ACME Protocol defined in RFC 8555 section 7.6. Successful revocation requests with a reason code of keyCompromise will result in the affected key being blocked for future issuance and all currently valid certificates with that key will be revoked.” It would be better if that explanation appeared in section 4.9.12 itself and not as a cross-reference. Also, I am not sure that the process provided by ISRG constitutes a demonstration of key compromise.

Related note: comparing Section 4.9.12 of our CP and our CPS, they currently reference different internal sections, and should be normalized.